a{
  color:#ffffff;
}


li{
  color:#ffffff;
}

body {
  font-family: "sans-serif";
   font-size: 150%;
   background-image: url(117264_1.jpg);
   background-size: cover;

}

div {
   background: rgba(0, 0, 0, 0.2); /* Цвет фона */
   color: #fff; /* Цвет текста */
   padding: 5px;
 }

p{
  color:#ffffff;
}
